{% extends 'padre.html' %}


{% block contenidoQueCambia %}

<header>
    <h1>Bienvenido a mi página personal</h1>
</header>

<section>
    <h2>Información Personal</h2>
    <p>Nombre: Carlos</p>
    <p>Apellido: Massa</p>
    <p>Descripción: Soy un programador junior. Me caracterizo por nunca parar de aprender e incorporar conocimientos nuevos. Desde muy chico siempre me interesó la computación y desde ahí nunca paré de aprender todo lo relacionado con ella. Eso hizo que me volcara por el secundario especializado en computación donde aprendí distintos lenguajes de programación, análisis de sistemas, base de datos y programación con Arduino que luego me terminé comprando uno para continuar aprendiendo desde mi hogar.
        Una vez viendo lo que me gustaba, seguí haciendo cursos por fuera del técnico, aprendiendo distintos lenguajes y de forma autodidacta. Actualmente estudio la carrera de Ingenieria en Sistemas en UAI</p>
</section>

<section>
    <h2>Proyecto</h2>
    <h3>Web Inmobiliaria</h3>
    <p>Descripción del proyecto: El sitio web se basa en una plataforma ficticia para una posible inmobiliaria llamada InmoCosta, que se especializa en propiedades ubicadas en la costa atlántica. La plataforma cuenta con dos tipos de usuarios: compradores y vendedores, cada uno con sus respectivos permisos, además de un equipo de administradores (staff).
        <br>
        <br>
        La idea principal de la web es permitir a los visitantes explorar las diferentes propiedades que InmoCosta tiene disponibles en la costa atlántica. Cualquier persona que ingrese al sitio puede ver todas las propiedades, pero si desean dejar comentarios, deben registrarse en la plataforma.
        <br>
        <br>
        Por otro lado, los vendedores tienen la capacidad de agregar nuevas propiedades al catálogo y acceder a los correos electrónicos de los comentarios realizados por los visitantes. Esto les permite contactar a posibles compradores y responder a sus preguntas o inquietudes.
        <br>
        <br>
        Los administradores del staff cuentan con el poder de editar y eliminar las propiedades en la plataforma, asegurando la calidad y precisión de la información presentada en el sitio web.
        <br>
        <br>        
    </p>
</section>


{% endblock contenidoQueCambia %}

    