{% extends 'padre.html' %}


{% block contenidoQueCambia %}

<header>
    <h1>Bienvenido a mi página personal</h1>
</header>

<section>
    <h2>Información Personal</h2>
    <p>Nombre: Carlos</p>
    <p>Apellido: Massa</p>
    <p>Descripción: Soy un programador junior. Me caracterizo por nunca parar de aprender e incorporar conocimientos nuevos. Desde muy chico siempre me interesó la computación y desde ahí nunca paré de aprender todo lo relacionado con ella. Eso hizo que me volcara por el secundario especializado en computación donde aprendí distintos lenguajes de programación, análisis de sistemas, base de datos y programación con Arduino que luego me terminé comprando uno para continuar aprendiendo desde mi hogar.
        Una vez viendo lo que me gustaba, seguí haciendo cursos por fuera del técnico, aprendiendo distintos lenguajes y de forma autodidacta. Actualmente estudio la carrera de Ingenieria en Sistemas en UAI</p>
</section>

<section>
    <h2>Proyecto</h2>
    <h3>Web Inmobiliaria</h3>
    <p>Descripción del proyecto: </p>
</section>


{% endblock contenidoQueCambia %}

    