{% extends 'padre.html' %}


{% block contenidoQueCambia %} 
<ul>
        
    {% for curso in cursos %}

      <li><a href="{% url 'DetalleCurso' curso.id %}" > {{curso.nombre}} </a></li>

      <div style="display: flex; column-gap: 5px;">
      <button><a href="{% url 'ActualizarCurso' curso.id %}">Editar</a></button>
      <button><a href="{% url 'EliminarCurso' curso.id %}">Eliminar</a></button>
    </div>
    {% endfor %}
</ul>

<button> <a href="{% url 'ProfesoresFormulario' %}"> Agregar profesor </a></button>


{% endblock contenidoQueCambia %}

