<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="{% url 'AcercaDeMi' %}">Acerca de mi</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'links' %}">Links de paginas</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'EditarAvatar' %}">Editar Avatar</a></li>
                    <li class="list-inline-item">⋅</li>
                    
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; InmoCosta website 2023. All Rights Reserved.</p>
            </div>
            
        </div>
    </div>
</footer>
