{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<h1>Bienvenido a InmoCosta</h1>
    
<p>Somos la mejor inmobiliaria de la Costa Atlántica, especializada en ofrecer las mejores propiedades para ti. Nuestro compromiso es brindarte la oportunidad de encontrar la casa de tus sueños, el lugar perfecto para tu negocio o cualquier inmueble que estés buscando en esta hermosa región costera.</p>

<p>En InmoCosta, trabajamos incansablemente para asegurarnos de que tengas acceso a una amplia gama de opciones inmobiliarias, desde lujosas casas frente al mar hasta acogedores apartamentos en la ciudad. Nuestra pasión por el servicio al cliente y nuestra experiencia en el mercado nos convierten en tu mejor aliado en la búsqueda de propiedades.</p>



</div>
{% endblock contenidoQueCambia %}
