{% extends 'padre.html' %}


{% block contenidoQueCambia %} 
<ul>
        
    {% for profesor in lista_profesores %}
      <li>{{ profesor.nombre }} - {{ profesor.apellido }} - {{profesor.email}} - {{ profesor.profesion }} </li>
      <div style="display: flex; column-gap: 5px;">
      <button><a href="{% url 'EditarProfesor' profesor.id %}">Editar</a></button>
      <form action="{% url 'EliminarProfesores' profesor.id %}" method="post">{% csrf_token %}
        <button type="submit"> Eliminar </button>
      </form>
    </div>
    {% endfor %}
</ul>

<button> <a href="{% url 'ProfesoresFormulario' %}"> Agregar profesor </a></button>


{% endblock contenidoQueCambia %}

